.row {
	@mixin clearfix;
}

@mixin atMedium {
	
	.row__medium-4 {
		float: left;
		width: 33.3%;
	}

	.row__medium-4-larger {
		width: 37%;
	}

	.row__medium-6 {
		float: left;
		width: 50%;
	}

	.row__medium-8 {
		float: left;
		width: 66.6%;
	}

	.row__medium-8-smaller {
		width: 63%;
	}

	.row__b-margin-until-medium {
		margin-bottom: 0;
	}
}

@mixin atLarge {
	
	.row__large-4 {
		float: left;
		width: 33.3%;
	}

	.row__large-4-larger {
		width: 37%;
	}

	.row__large-6 {
		float: left;
		width: 50%;
	}

	.row__large-8 {
		float: left;
		width: 66.6%;
	}

	.row__large-8-smaller {
		width: 63%;
	}

	.row__b-margin-until-large {
		margin-bottom: 0;
	}
}

.row--t-padding {
	padding-top: 80px;
}

.row__b-margin-until-medium {
	margin-bottom: 1rem;
}

.row-gutters-small {
	margin-right: -45px;
}

.row-gutters-small > div {
	padding-right: 45px;
}

.row-gutters {
	margin-right: -65px;
}

.row-gutters > div {
	padding-right: 65px;
}

.row-gutters-large {
	margin-right: -100px;
}

.row-gutters-large > div {
	padding-right: 100px;
}

.flexbox .row--equal-height-at-large {
	@mixin atLarge {
		display: flex;
	}
}

.flexbox .row--equal-height-at-large > div {
	float: none;
	display: flex;
}