.section-title {
	
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	strong {
		font-weight: 500;
	}


	@mixin atSmall {
		font-size: 3.75rem;
	}

}

.section-title__icon {
	margin-right: 0.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.6rem;


	@mixin atSmall {
		position: relative;
		top: 8px;
		margin-right: 0.5rem;
		margin-left: 0;
		margin-bottom: 0;
		display: inline-block;		
	}
}

.section-title__blue {
	color: $mainBlue;
}

.section-title--less-margin {
	margin-bottom: 1.3rem;
	margin-top: 0;
}